.musicContrainer {
  display: flex;
}

.musicImg {
  width: 50px;
  height: 50px;
  z-index: 1;
}

.backOfImg {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: gray;
}

.playIcon {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 15px solid white;
    border-bottom: 10px solid transparent;
}

.musicImg img:hover {
  opacity: 0.5; /* 80% 불투명도 */
}
